<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
        <div class="background">
            <img src="https://media.bizj.us/view/img/9596142/rpi-misc-5-2016-01*750xx5819-3271-0-525.jpg">
        </div>
        <a href="#user"><img class="circle" src="../../assets/temp.jpg"></a>
        <a href="#name"><span class="white-text name">Lorem Ipsum</span></a>
        <a href="#email"><span class="white-text email">email@school.edu</span></a>
        </div>
    </li>
    <li>
        <a class="subheader">Bio</a>
    </li>
    <li>
        <span class="bio black-text">A group of RPI CS/ITWS students on a mission to make a better club athletics application</span>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader">Teams</a>
    </li>
    <li>
        <a class="waves-effect" href="#!">List</a>
        <a class="waves-effect" href="#!">Out</a>
        <a class="waves-effect" href="#!">Team</a>
        <a class="waves-effect" href="#!">Membership</a>
        <a class="waves-effect" href="#!">Here</a>
    </li>
</ul>