<h3 class="center flow-text">Upcoming Games</h3>
<ul class="collection">
    <li class="collection-item avatar">
        <img src="../../assets/icons/football.svg" alt="sport_icon" class="circle">
        <span class="title">Sport Name</span>
        <p>vs. XXXX<br>
            @ Location
        </p>
    </li>
    <li class="collection-item avatar">
        <img src="../../assets/icons/basketball.svg" alt="sport_icon" class="circle">
        <span class="title">Sport Name</span>
        <p>vs. XXXX<br>
            @ Location
        </p>
    </li>
    <li class="collection-item avatar">
        <img src="../../assets/icons/baseball.svg" alt="sport_icon" class="circle">
        <span class="title">Sport Name</span>
        <p>vs. XXXX<br>
           @ Location
        </p>
    </li>
  </ul>