nav .input-field input[type]:valid {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: inherit;
}

.footer {
    height: 60px;
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    background-color: #ee6e73;
    z-index: 1000;
}

body {
    margin-bottom: 60px;
}

.footer_contents {
    height: 24px;
    width: 1000px;
    margin-left: 15px;
    margin-top: 15px;
}

.footer_contents h6 {
    font-weight: bold;
}

#toast-container {
    min-width: auto;
    left: auto;
    font: caption
}

.input-field label,
.input-field>label,
label,
nav {
    color: inherit;
}

input::-webkit-input-placeholder {
    color: white !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

input:-ms-input-placeholder {
    color: white !important;
}

nav ul a {
    display: block;
}
