* {
  box-sizing: border-box;
}
.dashboard-container {
  width: 100vw;
  height: 90vh;
  border: 3px;
  margin: 0px;
  padding: 0px;
}
.col-left {
  width: 30%;
  height: 100%;
  background-color: lightblue;
  float: left;
}
.row-top-right {
  width: 70%;
  height: 50%;
  background-color: red;
  float: right;
}
.row-bot-right {
  width: 70%;
  height: 50%;
  background-color: green;
  float: right;
}